<div style="margin-top:140px;">
    <div class="title-header">
        404
    </div>
    <br><br>
    <div class="group-response">This page was merely a setback.</div>
    <br><br>
    <div>
        <a class="switch-button" href="/">Home</a>
    </div>
</div>